openapi: 3.0.3
info:
  title: Odds Stack — Free (The Odds API + Prop-Odds)
  version: 0.1.0
servers: []
paths:
  /toa/v4/sports:
    servers:
      - url: https://api.the-odds-api.com
    get:
      summary: List in-season sports (The Odds API)
      security: [{ TOAKey: [] }]
      responses:
        "200": { description: OK }
  /toa/v4/sports/{sport}/odds:
    servers:
      - url: https://api.the-odds-api.com
    get:
      summary: Featured markets for live/upcoming events (The Odds API)
      security: [{ TOAKey: [] }]
      parameters:
        - in: path
          name: sport
          required: true
          schema: { type: string, example: baseball_mlb }
        - in: query
          name: regions
          required: true
          schema: { type: string, example: us }
        - in: query
          name: markets
          required: true
          schema: { type: string, example: h2h,spreads,totals }
        - in: query
          name: oddsFormat
          required: false
          schema: { type: string, example: american }
        - in: query
          name: dateFormat
          required: false
          schema: { type: string, example: unix }
      responses:
        "200": { description: OK }
  /toa/v4/sports/{sport}/events/{eventId}/odds:
    servers:
      - url: https://api.the-odds-api.com
    get:
      summary: Per-event odds incl. player props via `markets` (The Odds API)
      security: [{ TOAKey: [] }]
      parameters:
        - in: path
          name: sport
          required: true
          schema: { type: string, example: baseball_mlb }
        - in: path
          name: eventId
          required: true
          schema: { type: string }
        - in: query
          name: markets
          required: true
          schema: { type: string, example: player_total_bases }
        - in: query
          name: regions
          required: true
          schema: { type: string, example: us }
        - in: query
          name: oddsFormat
          required: false
          schema: { type: string, example: american }
      responses:
        "200": { description: OK }
  /propodds/beta/games/{league}:
    servers:
      - url: https://api.prop-odds.com
    get:
      summary: List games by date (Prop-Odds) — returns game_id
      security: [{ PropOddsKey: [] }]
      parameters:
        - in: path
          name: league
          required: true
          schema: { type: string, example: nhl }
        - in: query
          name: date
          required: true
          schema: { type: string, example: 2025-08-10 }
        - in: query
          name: tz
          required: false
          schema: { type: string, example: America/Los_Angeles }
      responses:
        "200": { description: OK }
  /propodds/beta/game/{game_id}:
    servers:
      - url: https://api.prop-odds.com
    get:
      summary: Get a single game by id (Prop-Odds)
      security: [{ PropOddsKey: [] }]
      parameters:
        - in: path
          name: game_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }
  /propodds/beta/markets/{game_id}:
    servers:
      - url: https://api.prop-odds.com
    get:
      summary: List available markets for a game (Prop-Odds)
      security: [{ PropOddsKey: [] }]
      parameters:
        - in: path
          name: game_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }
  /propodds/beta/odds/{game_id}/{market_key}:
    servers:
      - url: https://api.prop-odds.com
    get:
      summary: Odds for a market within a game by sportsbook (Prop-Odds)
      security: [{ PropOddsKey: [] }]
      parameters:
        - in: path
          name: game_id
          required: true
          schema: { type: string }
        - in: path
          name: market_key
          required: true
          schema: { type: string, example: player_first_goal }
      responses:
        "200": { description: OK }
components:
  securitySchemes:
    TOAKey:
      type: apiKey
      in: query
      name: apiKey
      description: The Odds API key
    PropOddsKey:
      type: apiKey
      in: query
      name: api_key
      description: Prop-Odds key
security: []
